AirlineTicketScraper/Service References/CebPacScraperService_1/CebPacScraperServiceBasic3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/AirlineScraper.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/AirlineScraper.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSearchResultsModel">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SearchResultsModel" nillable="true" type="tns:SearchResultsModel" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSearchResultsModel" nillable="true" type="tns:ArrayOfSearchResultsModel" />
  <xs:complexType name="SearchResultsModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
      <xs:element minOccurs="0" name="FlightNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="URL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchResultsModel" nillable="true" type="tns:SearchResultsModel" />
</xs:schema>