AirlineTicketScraper/Service References/CebPacScraperService_1/CebPacScraperServiceBasic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54336/CebPacScraperServiceBasic.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ScraperService.DataContracts" />
  <xs:element name="SearchRange">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ScraperService.DataContracts" minOccurs="0" name="request" nillable="true" type="q1:SearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchRangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ScraperService.DataContracts" minOccurs="0" name="SearchRangeResult" nillable="true" type="q2:SearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFlightSingleDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ScraperService.DataContracts" minOccurs="0" name="request" nillable="true" type="q3:SearchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchFlightSingleDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ScraperService.DataContracts" minOccurs="0" name="SearchFlightSingleDateResult" nillable="true" type="q4:SearchResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>